{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<h2>{{ ctgr.nomCat }} contenant {{ ctgr.nb_produits }} produit(s)</h2>
<ul>
<li>Référence Catégorie : {{ctgr.idCat }} </li>
<li>Nom Catégorie : {{ ctgr.nomCat }} </li>
<li><a href="{% url 'lst_ctgrs' %}">Retour à la liste des categories</a></li>
<li><a href="{% url 'ctgr-chng' ctgr.idCat %}">modifier</a></li>
<li><a href="{% url 'dlt-ctgr' ctgr.idCat %}">supprimer</a></li>
</ul>
{% endblock %}