{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>Liste des Catégories</h1>
    {% endblock %}
{% block contenu %}
        <p>Mes Catégories sont :</p>
        <table class="table">
        <thead>
        <th>Id</th>
        <th>Nom Statut</th>
        </thead>
        <tbody>
        {% for ctgr in ctgrs %}
        <tr>
        <td>{{ ctgr.idCat }} </td>
        <td><a href="{% url 'dtl_ctgr' ctgr.idCat %}">{{ ctgr.nomCat }}</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}